<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>380102314268-8i04rk43ugn3kii36sldic5u9je8at9p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.380102314268-8i04rk43ugn3kii36sldic5u9je8at9p</string>
	<key>API_KEY</key>
	<string>AIzaSyBvWxaciEe7srKL0ccu7hsWTtyp0YYk6QY</string>
	<key>GCM_SENDER_ID</key>
	<string>380102314268</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.opencloselooprecycling.openCloseLoopRecycling</string>
	<key>PROJECT_ID</key>
	<string>waste---management</string>
	<key>STORAGE_BUCKET</key>
	<string>waste---management.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:380102314268:ios:10578eeb262ce5dd7492d9</string>
</dict>
</plist>